{% extends 'base.html' %}

{% block content %}
<center><h3>Enter the group string from the addon:</h3></center>
<center>
<form method="post" action="/results/">
	{% csrf_token %}
	<p><textarea rows="10" cols="50" name="JSON">eydyZXF1ZXN0JzogeydyZXF1ZXN0aW5nLW1lbWJlci1yZWFsbSc6ICdHcml6emx5IEhpbGxzJywgJ3JlcXVlc3RpbmctbWVtYmVyLW5hbWUnOiAnVGFsdG9zdCcsICdncm91cCc6IHsnbWVtYmVycyc6IFt7J3JlYWxtJzogJ0dyaXp6bHkgSGlsbHMnLCAnbmFtZSc6ICdQZXBwaXd5bid9LCB7J3JlYWxtJzogJ0xvdGhhcicsICduYW1lJzogJ0Z1enp5J30sIHsncmVhbG0nOiAnR3JpenpseSBIaWxscycsICduYW1lJzogJ1NoeW5lJ30sIHsncmVhbG0nOiAnTG90aGFyJywgJ25hbWUnOiAnVHVyYW5pbCd9LCB7J3JlYWxtJzogJ0dyaXp6bHkgSGlsbHMnLCAnbmFtZSc6ICdEZWVhbm5kcmEnfV19fX0=</textarea></p>
	<p><input type="submit" name="submit" class="btn btn-primary"></p>
</form>
</center>
{% endblock %}

